        {{> head}}
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h5 style="padding: 10px 10px;font-weight: bold;">Login Page</h5>
                </div>
                <form action="/login" method="POST">
                    <input type="text" id="login" class="fadeIn second" name="loginID" placeholder="Login">
                    <input type="password" id="password" class="fadeIn thid" name="loginPassword" placeholder="Password">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </form>
            </div>
        </div>
    </body>
</html>