        {{> head}}
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <div class="fadeIn first">
                    <h5 style="padding: 10px 10px;font-weight: bold;">Signup Page</h5>
                </div>
                <form method="POST" action="/signup">
                    <input type="text" id="login" class="fadeIn second" name="signupID" placeholder="Login">
                    <input type="password" id="password" class="fadeIn thid" name="signupPassword" placeholder="Password">
                    <input type="password" id="confirm-password" class="fadeIn thid" name="signupConfirmPassword" placeholder="Confirm Password">
                    <input type="submit" class="fadeIn fourth" value="Signup">
                </form>
            </div>
        </div>
    </body>
</html>